@font-face {
  font-family: 'Italianno';
  src: url(../font/Italianno-Regular.ttf);
}

@font-face {
  font-family: 'Italianno';
  src: url(../font/Italianno-Regular.ttf);
}
@font-face {
  font-family:'Brotherhood';
  src: url(../font/Brotherhood_Script.ttf);
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../font/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Baskerville-Regular';
  src: url(../font/LibreBaskerville-Regular.ttf);
}

@font-face {
  font-family: 'Baskerville-Bold';
  src: url(../font/LibreBaskerville-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(../font/Roboto-Light.ttf);
}


.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../img/load.jpg') 50% 50% no-repeat rgb(122, 118, 118);
  opacity: .8;
}

body {
  margin:0.5em;
  background-image: url("../img/background.jpg");
  background-size: cover;

  background-repeat:no-repeat;

  background-position: center center;
  background-attachment: fixed;
  font-size: 80%;
}

h1 {
  font-family: 'Brotherhood';
  font-size: 4.5em;   /* 2em = 2 x 10px = 20px */
  text-align: center;
}

h2 {
  font-family:'Baskerville-Bold', sans-serif;
  text-align: center;
  margin-top: 0.5em; 
  font-size: 1.6em; /* 1.4em x 10px = 14px */
  line-height: 1.7em;
}

h3 {
  font-family:'Baskerville-Bold', sans-serif;
  text-align: center;
  margin-top: 0.25em; 
  font-size: 1.5em; /* 1.4em x 10px = 14px */
  line-height: 1.55em;
}

figcaption{
  font-family: 'Roboto-Light';
  text-align:justify;
  line-height: 0.75em;
  font-size: 0.7em; /* 1.4em x 10px = 14px */  
}

p {
  font-family: 'Roboto-Light';
  text-align:justify;
  line-height: 1.45em;
  font-size: 1.4em; /* 1.4em x 10px = 14px */
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.logo-insta {
  max-width: 1.5em; 
  height: 1.5em;
}

*{
  margin: 0;
  padding: 0;
}

header{
  font-family: Helvetica;
  width: 100%;
  margin: 0 auto;
}
.iframe{
  height: 15em;
  width: 25em;
  border: 0.1em solid #000;
}
ul{
  list-style: none;
}
#menu li>a{
  background-color: #8d6e63;
  color: white;
  font-size: 1em;
  padding: 0.5em;
  display: block;
  text-decoration: none;
  min-width: 75%;
}
#menu li>a:hover{
  color: black;
  background-color: #d7ccc8 ;
}
#menu>li{
  float: left;
  text-align:center
}

.cont-temporizador{
  display: flex;
  justify-content: center;   
  margin-top: 0.25em; 
}

.cont-temporizador .bloque{
  margin: 0em 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-temporizador .bloque div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(80, 80, 80);
  box-shadow: 0px 0px 6px 2px #727272 inset;
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  width: 3em;
  height: 1.5em;
  margin-bottom: 0.5em;
  border-radius: 0.25em;
}

.cont-temporizador .bloque p{
  font-size: 0.75em;
  font-weight: bold;
  color: #000000;
}